[submodule "vendor/spdlog"]
	path = External/spdlog
	url = https://github.com/gabime/spdlog.git
	shallow = true
[submodule "vendor/GLM"]
	path = External/GLM
	url = https://github.com/g-truc/glm.git
	shallow = true
[submodule "vendor/DearImGui/imgui"]
	path = External/DearImGui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
	shallow = true
